

    <div class="card bg-dark text-white">
        <img height="20%" width="100%" src="/assets/img/christoph-peich-eUuTubj2ozg-unsplash.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h1 class="card-title tit">News</h1>
        </div>
      </div>

<section class="section bg-light">
    <div class="card " style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img width="100%" height="100%" src="/assets/img/christoph-peich-eUuTubj2ozg-unsplash.jpg"
                    alt="...">
            </div>
            <div class="col-md-9 ">
                <div class="card-body bg-secondary text-white">
                    <h3 class="card-title">We are now in Medellin</h3>
                    <h5 class="card-title">Go visit us</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque mauris
                        vitae enim iaculis, eget sollicitudin tellus varius. Morbi justo turpis, ornare et erat a,
                        scelerisque pellentesque orci. Suspendisse nec convallis mi. Sed efficitur iaculis lectus, a
                        hendrerit odio porttitor sit amet. Aenean nec dignissim nunc. Morbi facilisis eget metus sit
                        amet hendrerit. Nam mattis elit a mi congue, a rhoncus lacus porta. Praesent sit amet ligula
                        luctus justo molestie semper ac ac quam.

                        Vestibulum ut egestas nunc. Pellentesque at nulla a augue placerat vulputate porta interdum
                        nisi. Sed sit amet dolor semper, vestibulum lectus ac, pulvinar magna. Curabitur ac sodales
                        libero. Vestibulum posuere, risus ac commodo maximus, nunc tellus interdum massa, et porttitor
                        risus eros ut purus. Praesent tempus dictum sodales. Vestibulum sed vehicula dolor. Pellentesque
                        quis urna bibendum mi varius varius quis ac magna. In ut est sodales, semper purus ac, feugiat
                        sem. Sed eget ullamcorper tortor, sed dignissim metus. Etiam volutpat, ex ut placerat molestie,
                        metus ipsum laoreet sem, eu egestas dolor dolor tincidunt nisl. Mauris dignissim metus est, vel
                        porttitor arcu viverra a. Mauris iaculis blandit erat facilisis tincidunt. Morbi auctor dui
                        lacus, sit amet semper sem sollicitudin varius.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card " style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img width="100%" height="100%" src="/assets/img/ed-robertson-eeSdJfLfx1A-unsplash.jpg"
                    alt="...">
            </div>
            <div class="col-md-9 ">
                <div class="card-body bg-secondary text-white">
                    <h3 class="card-title">Swap of books</h3>
                    <h5 class="card-title">We have planed a swap of books in december</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque mauris
                        vitae enim iaculis, eget sollicitudin tellus varius. Morbi justo turpis, ornare et erat a,
                        scelerisque pellentesque orci. Suspendisse nec convallis mi. Sed efficitur iaculis lectus, a
                        hendrerit odio porttitor sit amet. Aenean nec dignissim nunc. Morbi facilisis eget metus sit
                        amet hendrerit. Nam mattis elit a mi congue, a rhoncus lacus porta. Praesent sit amet ligula
                        luctus justo molestie semper ac ac quam.

                        Vestibulum ut egestas nunc. Pellentesque at nulla a augue placerat vulputate porta interdum
                        nisi. Sed sit amet dolor semper, vestibulum lectus ac, pulvinar magna. Curabitur ac sodales
                        libero. Vestibulum posuere, risus ac commodo maximus, nunc tellus interdum massa, et porttitor
                        risus eros ut purus. Praesent tempus dictum sodales. Vestibulum sed vehicula dolor. Pellentesque
                        quis urna bibendum mi varius varius quis ac magna. In ut est sodales, semper purus ac, feugiat
                        sem. Sed eget ullamcorper tortor, sed dignissim metus. Etiam volutpat, ex ut placerat molestie,
                        metus ipsum laoreet sem, eu egestas dolor dolor tincidunt nisl. Mauris dignissim metus est, vel
                        porttitor arcu viverra a. Mauris iaculis blandit erat facilisis tincidunt. Morbi auctor dui
                        lacus, sit amet semper sem sollicitudin varius.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card " style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img width="100%" height="100%" src="assets/img/mike-petrucci-c9FQyqIECds-unsplash.jpg"
                    alt="...">
            </div>
            <div class="col-md-9 ">
                <div class="card-body bg-secondary text-white">
                    <h3 class="card-title">Doors open</h3>
                    <h5 class="card-title">We have opnened our first swap in bogota come visit us this friday</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque mauris
                        vitae enim iaculis, eget sollicitudin tellus varius. Morbi justo turpis, ornare et erat a,
                        scelerisque pellentesque orci. Suspendisse nec convallis mi. Sed efficitur iaculis lectus, a
                        hendrerit odio porttitor sit amet. Aenean nec dignissim nunc. Morbi facilisis eget metus sit
                        amet hendrerit. Nam mattis elit a mi congue, a rhoncus lacus porta. Praesent sit amet ligula
                        luctus justo molestie semper ac ac quam.

                        Vestibulum ut egestas nunc. Pellentesque at nulla a augue placerat vulputate porta interdum
                        nisi. Sed sit amet dolor semper, vestibulum lectus ac, pulvinar magna. Curabitur ac sodales
                        libero. Vestibulum posuere, risus ac commodo maximus, nunc tellus interdum massa, et porttitor
                        risus eros ut purus. Praesent tempus dictum sodales. Vestibulum sed vehicula dolor. Pellentesque
                        quis urna bibendum mi varius varius quis ac magna. In ut est sodales, semper purus ac, feugiat
                        sem. Sed eget ullamcorper tortor, sed dignissim metus. Etiam volutpat, ex ut placerat molestie,
                        metus ipsum laoreet sem, eu egestas dolor dolor tincidunt nisl. Mauris dignissim metus est, vel
                        porttitor arcu viverra a. Mauris iaculis blandit erat facilisis tincidunt. Morbi auctor dui
                        lacus, sit amet semper sem sollicitudin varius.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card " style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img width="100%" height="100%" src="/assets/img/blake-wisz-q3o_8MteFM0-unsplash.jpg"
                    alt="...">
            </div>
            <div class="col-md-9 ">
                <div class="card-body bg-secondary text-white">
                    <h3 class="card-title">Pay with tokens</h3>
                    <h5 class="card-title">You dont need money to buy in our shop</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque mauris
                        vitae enim iaculis, eget sollicitudin tellus varius. Morbi justo turpis, ornare et erat a,
                        scelerisque pellentesque orci. Suspendisse nec convallis mi. Sed efficitur iaculis lectus, a
                        hendrerit odio porttitor sit amet. Aenean nec dignissim nunc. Morbi facilisis eget metus sit
                        amet hendrerit. Nam mattis elit a mi congue, a rhoncus lacus porta. Praesent sit amet ligula
                        luctus justo molestie semper ac ac quam.

                        Vestibulum ut egestas nunc. Pellentesque at nulla a augue placerat vulputate porta interdum
                        nisi. Sed sit amet dolor semper, vestibulum lectus ac, pulvinar magna. Curabitur ac sodales
                        libero. Vestibulum posuere, risus ac commodo maximus, nunc tellus interdum massa, et porttitor
                        risus eros ut purus. Praesent tempus dictum sodales. Vestibulum sed vehicula dolor. Pellentesque
                        quis urna bibendum mi varius varius quis ac magna. In ut est sodales, semper purus ac, feugiat
                        sem. Sed eget ullamcorper tortor, sed dignissim metus. Etiam volutpat, ex ut placerat molestie,
                        metus ipsum laoreet sem, eu egestas dolor dolor tincidunt nisl. Mauris dignissim metus est, vel
                        porttitor arcu viverra a. Mauris iaculis blandit erat facilisis tincidunt. Morbi auctor dui
                        lacus, sit amet semper sem sollicitudin varius.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card " style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img width="100%" height="100%" src="../../../assets/img/nasa-vhSz50AaFAs-unsplash (1).jpg"
                    alt="...">
            </div>
            <div class="col-md-9 ">
                <div class="card-body bg-secondary text-white">
                    <h3 class="card-title">Save te planet</h3>
                    <h5 class="card-title">Giving a second use to your chlotes could save the planet</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque mauris
                        vitae enim iaculis, eget sollicitudin tellus varius. Morbi justo turpis, ornare et erat a,
                        scelerisque pellentesque orci. Suspendisse nec convallis mi. Sed efficitur iaculis lectus, a
                        hendrerit odio porttitor sit amet. Aenean nec dignissim nunc. Morbi facilisis eget metus sit
                        amet hendrerit. Nam mattis elit a mi congue, a rhoncus lacus porta. Praesent sit amet ligula
                        luctus justo molestie semper ac ac quam.

                        Vestibulum ut egestas nunc. Pellentesque at nulla a augue placerat vulputate porta interdum
                        nisi. Sed sit amet dolor semper, vestibulum lectus ac, pulvinar magna. Curabitur ac sodales
                        libero. Vestibulum posuere, risus ac commodo maximus, nunc tellus interdum massa, et porttitor
                        risus eros ut purus. Praesent tempus dictum sodales. Vestibulum sed vehicula dolor. Pellentesque
                        quis urna bibendum mi varius varius quis ac magna. In ut est sodales, semper purus ac, feugiat
                        sem. Sed eget ullamcorper tortor, sed dignissim metus. Etiam volutpat, ex ut placerat molestie,
                        metus ipsum laoreet sem, eu egestas dolor dolor tincidunt nisl. Mauris dignissim metus est, vel
                        porttitor arcu viverra a. Mauris iaculis blandit erat facilisis tincidunt. Morbi auctor dui
                        lacus, sit amet semper sem sollicitudin varius.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card " style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img width="100%" height="100%" src="/assets/img/larm-rmah-AEaTUnvneik-unsplash.jpg"
                    alt="...">
            </div>
            <div class="col-md-9 ">
                <div class="card-body bg-secondary text-white">
                    <h3 class="card-title">All types of donations</h3>
                    <h5 class="card-title">You could donate fabric or any other type of chlotes to kids in need</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque mauris
                        vitae enim iaculis, eget sollicitudin tellus varius. Morbi justo turpis, ornare et erat a,
                        scelerisque pellentesque orci. Suspendisse nec convallis mi. Sed efficitur iaculis lectus, a
                        hendrerit odio porttitor sit amet. Aenean nec dignissim nunc. Morbi facilisis eget metus sit
                        amet hendrerit. Nam mattis elit a mi congue, a rhoncus lacus porta. Praesent sit amet ligula
                        luctus justo molestie semper ac ac quam.

                        Vestibulum ut egestas nunc. Pellentesque at nulla a augue placerat vulputate porta interdum
                        nisi. Sed sit amet dolor semper, vestibulum lectus ac, pulvinar magna. Curabitur ac sodales
                        libero. Vestibulum posuere, risus ac commodo maximus, nunc tellus interdum massa, et porttitor
                        risus eros ut purus. Praesent tempus dictum sodales. Vestibulum sed vehicula dolor. Pellentesque
                        quis urna bibendum mi varius varius quis ac magna. In ut est sodales, semper purus ac, feugiat
                        sem. Sed eget ullamcorper tortor, sed dignissim metus. Etiam volutpat, ex ut placerat molestie,
                        metus ipsum laoreet sem, eu egestas dolor dolor tincidunt nisl. Mauris dignissim metus est, vel
                        porttitor arcu viverra a. Mauris iaculis blandit erat facilisis tincidunt. Morbi auctor dui
                        lacus, sit amet semper sem sollicitudin varius.</p>
                </div>
            </div>
        </div>
    </div>
</section>