<section class="section bg-light img">
  <div class="card bg-dark text-white">
    <img height="20%" width="100%" src="/assets/img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg" class="card-img" alt="...">
    <div class="card-img-overlay header ">
    <h2 class="title1 card-title">Bored with the same Clothes? </h2>
    <h3 class="title2 card-title">Use Second Hand Chlotes</h3>
    
<div class=" d-block w-100 ">
    <div class="ml-5 mr-5">
        <p class="text-center card-text title3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa pariatur
          sequi quos ea amet totam rem maxime dolorem delectus odio officia
          cumque quod, modi doloremque sapiente adipisci quia at quo
          exercitationem quidem iure. Quam suscipit consequatur, dolore culpa
          minima consequuntur sunt in labore dolorem adipisci delectus molestias
          enim ducimus, voluptatibus odio ex voluptatem necessitatibus illo ipsa
          officiis soluta! Enim ab laboriosam eius repellat qui. Nobis ipsam
          earum architecto reprehenderit, nesciunt eius? Possimus praesentium
          adipisci, est nobis quam, culpa nam tenetur consectetur placeat
          voluptas architecto aliquid? Corporis nostrum id accusantium. Nisi
          consequatur cum minus, neque aliquam vel illum tenetur ratione
          possimus.
        </p>
      </div>
</div>
</div>
</div>
</section>        
      



