<section class="section bg-light img ">
    <div class="card d-flex justify-content-center">
        <img height="700px" width="100%" src="/assets/img/andrew-ridley-jR4Zf-riEjI-unsplash.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
    <form class="ml-5 mt-5 d-flex justify-content-center flex-column">
        <div class="form-group ">
          <label for="exampleFormControlInput1"><h4>Email address</h4></label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group ">
            <label for="exampleInputPassword1"><h4>Password</h4></label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group ">
            <label for="exampleFormControlSelect1"><h4>What is your favorite item of clothing?</h4></label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option><img src="/assets/img/hoodie.png" alt="">Hoodie</option>
              <option><img src="/assets/img/jacket.png" alt="">Jacket</option>
              <option><img src="/assets/img/pants.png" alt="">Pants</option>
              <option><img src="/assets/img/sneakers.png" alt="">Shoes</option>
              <option><img height="20%" width="20%" src="/assets/img/casual-t-shirt-.png" alt="">T-Shirts</option>
            </select>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <a href="/home" class="btn btn-primary">Submit</a>
      </form>
 </div>
 </div>
</section>
