<footer class="text-center footer-style bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <h3>Dirección</h3>
                <p>
                    Colombia-Bogota <br />
                    calle 86 #10-24
                </p>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Mis redes</h3>
                <ul class="list-inline">
                    <li>

                        <a target="_blank" href="https://www.facebook.com/" class="btn-social btn-outline"><i
                                class="fa fa-fw fa-facebook">Facebook</i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/" class="btn-social btn-outline"><i
                                class="fa fa-fw fa-google-plus">Instagram</i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.twitter.com/" class="btn-social btn-outline"><i
                                class="fa fa-fw fa-twitter">Twitter</i></a>
                    </li>
                    <li>
                        <a target="_blank" href="#" class="btn-social btn-outline"><i
                                class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="#" class="btn-social btn-outline"><i
                                class="fa fa-fw fa-dribbble"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique totam a fuga ex placeat ipsa
                    aspernatur explicabo, facere sit vel.
                </p>
            </div>
        </div>
    </div>
</footer>